
#about {
    position: relative;
    min-height: 100vh;
    background-color: #e7e7e7;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#breath-circle {
    position: absolute;
    width: 50vw;
    height: 50vw;
    max-width: 550px;
    max-height: 550px;
    border-radius: 50%;
    background-color: white;
    filter: blur(10px);
    animation: breath 6s infinite;
}
#about-glass{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e1e1e199, #e1e1e166);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#about-content{
    height: 100%;
    width: 100%;
    padding:10vh 12vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#about-text{
    width: 45%;
    min-width: 436px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#about-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
#about-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 15px;
    /* text-align: justify;
    text-justify: inter-word; */
}

/* ========== ANIMATION ========== */
@keyframes breath{
    0%{
        transform: scale(1);
        filter: blur(10px);
    }
    50%{
        transform: scale(1.2);
        filter: blur(18px);
    }
    100%{
        transform: scale(1);
        filter: blur(10px);
    }
}

