/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&family=Chela+One&family=Dela+Gothic+One&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Fredericka+the+Great&family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Nabla&family=Oi&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rampart+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Anton', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'Chela One', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Encode Sans', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'M PLUS 1 Code', sans-serif;
font-family: 'M PLUS Code Latin', sans-serif;
font-family: 'Martian Mono', monospace;
font-family: 'Nabla', cursive;
font-family: 'Oi', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow:scroll;
    background: linear-gradient(135deg,#24ff72,#2196f3);
}

.container{
    width:100%;
    min-height:100vh;
    background-image: url("../items/bg.png");
    background-image: url("../items/bg.png");
    background-size:auto 100vh;
    background-repeat: no-repeat;
    background-position:right;
    display:flex;
    justify-content: left;
    align-items: center;
}

/* ================ navigation bar ==================== */

.foot-label,
.label{
    font-family: 'Encode Sans', sans-serif;
    font-weight:500;
    transition: all 0.3s ease-out;
}

.icon{
    font-size:26px !important;
    color:#3d555f;
    line-height: 50px;
    text-align:center;
}

.nav-bar{
    width:60px;
    height:90vh;
    /* background-color:#44836B; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius:30px;
    /* box-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
    /* border:1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
    margin-left: 2rem;
    transition: all 0.5s ease-out;
    overflow:hidden;
}

.nav-bar:hover{
    width: 150px;
    border-radius:60px;
}

.nav-bar:hover>ul>li .foot-label,
.nav-bar:hover>ul>li .label{
    display: block;
    transition: all 0.5s;
}

/* expand icon control */
.expand-icon{
    width:100%;
    text-align: center;
    margin: 10px auto;
}

#out,
#in{
    color:#44836B;
    font-size: 32px !important;
    animation: jitter 0.3s linear forwards;
}

#in{
    display:none;
}

.nav-bar:hover #out{
    display:none;
}

.nav-bar:hover #in{
    display:block;
}

/* align icons to left when nav bar expands */
/* .nav-bar:hover li>a{
    justify-content:left;
    margin-left:12%;
} */

ul{
    width:100%;
    height:70%;
}

li{
    list-style: none;
}

li>a{
    display:flex;
    justify-content:center;
    align-items:center;
    height:20%;
    text-decoration:none;
}

li:hover{
    background-color: #44836B;
    cursor:pointer;
}

li:hover .label,
li:hover .foot-label,
li:hover i{
    color:white;
}

li:hover i{
    animation:jitter .3s linear forwards;
}

.label{
    display:none;
    padding-left:5px;
    color:#44836B;
    white-space:nowrap;
    transition: all .2s ease-out;
}

.foot-icon{
    font-size:26px !important;
    color:#44836B;
    line-height: 50px;
    text-align:center;
}

.social-icon{
    width:100%;
    text-align: center;
    margin: 10px auto;
}

.foot-label{
    display:none;
    padding-left:5px;
    color:#44836B;
    white-space:nowrap;
    transition: all .2s ease-out;
}

/* ================ introduction ==================== */

.wrapper{
    display:flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
}

.cols{
    width: 100%;
}

.cols0{
    z-index: 5;
}

.topline{
    display:block;
    position:relative;
    font-size:35px;
    letter-spacing: 5px;
    color:#3d555f;
}

.topline::after{
    position:absolute;
    content:'';
    height:4px;
    width:45px;
    bottom:10px;
    background-color: #44836B;
    animation: flash 1s linear infinite;
}

.container h1{
    display: block;
    font-size: 6em;
    font-weight: 800;
    color:#3d535f;
}

.multitext{
    color:#f3f5f8;
    text-transform: capitalize;
}

.btns{
    width: 100%;
    position:relative;
    /* left:150px; */
}

button{
    outline:none;
    border:none;
    cursor:pointer;
    font-size:25px;
    font-weight:400;
    color:#fff;
    background-color:#3d535f;
    border-radius: 30px;
    padding:8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.3)
}

button:hover{
    /* background-color:#44836B; */
    opacity: 80%;
}



/* ================ animation ==================== */

@keyframes jitter {
    0% {
        transform: scale(1.2) rotate(10deg);
    }
    50% {
        transform: scale(0.8) rotate(-10deg);
    }
    0% {
        transform: scale(1.0) rotate(0deg);
    }
}

@keyframes flash {
    0% {
        opacity:1;
    }
    70% {
        opacity:1;
    }
    71% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
  }

